body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.nav-link {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    padding:50px ;
    width: 400px;
    margin:35px ;
    background-color: #66A3D2;
    flex-wrap: nowrap;
}

.article-but {
    text-decoration: none;
    background-color: #033E6B;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: black;
    display: flex;
    justify-content:space-around;
    margin:auto, 30px, auto,  30px;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
.button {
    margin-right: 25px;
    background-color: #0B61A4;
    color:#ffffff;
}
.paket {
    margin-left: 15px;
}
a {
    margin:auto, 30px, auto,  30px;
}
p {
    color:white;
}
